
header{
    background-color: #333;  
    position: sticky;
    top: 0;
    left: 0;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-section .logo{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.header-section  nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}
.header-section  nav ul li{
    margin-left:10px ;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.header-section  nav ul li a{
    color: #fff;
    text-decoration: none ;
   font-size: 20px;
   
}
li #cart-icon{
  
    cursor: pointer;
}

#cart-icon{
    color: #fff;
    font-size: 20px;
    align-self: center;
    
}

/* ------------------------------------- */
.login .login-content{
    background-color: 	#3b5998;
    width: 800px;
    padding: 20px 40px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login .login-content h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: #f7f7f7;

}
.login .login-content form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.login .login-content form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    outline: none;

}
.login .login-content button{
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;

}
.login .login-content p {
   color:#f7f7f7;
   
}
.login .login-content p a {
   color:#000;
   
}
